/ Contact
.contact#contact.style-3.padding-top-40.padding-bottom-80
  .container
    .heading-block.text-center.margin-bottom-80
      %h3 Get In Touch With Us
      %hr/
      %span.margin-top-20 If you have any questions regarding any of our packages or want to make an enquiry please fill out the form and we will get back to you as fast as we can
    / Form
    .contact-right.padding-top-30.padding-left-30
      / Success Msg
      #contact_message.success-msg
        %i.fa.fa-paper-plane-o>
        Thank You. Your Message has been Submitted
      / FORM
      #contact_form.contact-form
        = form_for @contact do |f|
          = notice
          = @contact.errors.full_messages.join(', ')
          = f.hidden_field :nickname

          %ul.row
            %li.col-sm-4
              = f.text_field :name, placeholder: "Name", class: "form-control"
            %li.col-sm-4
              = f.text_field :email, placeholder: "Email", class: "form-control"
            %li.col-sm-4
              .form-control
                .input-field
                  = f.select :subject, options_for_select(Contact::SUBJECTS), :include_blank => "Package Type"
            %li.col-sm-12
              = f.text_area :message, placeholder: "Message", class: "form-control"
            %li.col-sm-12
              = f.submit "Send", class: "btn"

:javascript
  $(document).ready(function() {
    $('select').material_select();
  });
