= provide(:description, 'FamaPhotobooths offers affordable photobooths with a variety of packages to choose from.')
= provide(:keywords, 'Packages, photobooths, events, photobooth, affordable, occasion')

.pricing-3.section-gray
  / HEADING BLOCK
  .heading-block.text-center
    %h1 Our Packages
    %hr/
    %span.margin-top-20 We offer clients packages customized to their needs or you can choose from one of our 3 set packages with the following services

  .container
    .row
      - Product.all.each do |p|
        .col-md-4
          .block.block-pricing
            .table{class: (p.name == "GOLD" ? "table-primary" : "")}
              %h6.category #{p.name} Package
              %span
                %h4.category
                  .strikethrough-diagonal
                    %small> £#{p.price.round}
              %h1.block-caption
                %small> £
                - if p.percent_discount
                  - @total = p.price_by_percent_discount
                  = p.price_by_percent_discount.round
                - else
                  - @total = p.price_by_amount_discount
                  = p.price_by_amount_discount.round
              = link_to "Purchase", new_product_transaction_path(p, amount: @total), class: "btn btn-rose btn-round"
              %ul
                %li.text-justify{class: (p.photobooth? ? "glyphicon-ok" : "reduced-price")}
                  Photobooth
                %li.text-justify{class: (p.photobooth_attendant? ? "glyphicon-ok" : "reduced-price")}
                  Photobooth attendant
                %li.text-justify{class: (p.guestbook? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Free guestbook
                -#%li.text-justify{class: (p.usb? ? "glyphicon-ok" : "reduced-price")}
                -#  %span.glyphicon
                -#  USB with event pictures
                %li.text-justify{class: (p.public_liability_insurance? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Public Liability Insurance
                %li.text-justify{class: (p.interactive_touchscreen? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Interactive Touchscreen
                %li.text-justify{class: (p.red_curtain_background? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Red Curtain Background
                %li.text-justify{class: (p.unlimited_visits? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Unlimited visits to the booth
                %li.text-justify{class: (p.personalised_theme? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Theme/ logo on prints (artwork provided by customer)
                %li.text-justify{class: (p.propbox? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Vibrant and fun propbox
                %li.text-justify{class: (p.gif? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  GIFs
                %li.text-justify{class: (p.key_ring? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Option for guests to buy a key ring
                %li.text-justify{class: (p.social_media_uploads? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Social Media Uploads
                %li.text-justify{class: (p.personalised_messages? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Personalised messages
                %li.text-justify{class: (p.green_screen? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Green Screen Choice with choice of a variety of backgrounds.
                %li.text-justify{class: (p.facial_recognition? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Facial Recognition filters (snapchat style)
                %li.text-justify{class: (p.red_carpet? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Red carpet and luxury rope
                %li.text-justify{class: (p.free_keyrings? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  5 free key rings and 2 4x6in picture frames.
                %li.text-justify{class: (p.karaoke? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Karaoke
                -#%li.text-justify{class: (p.merryoke? ? "glyphicon-ok" : "reduced-price")}
                -#  %span.glyphicon
                -#  Merryoke
                %li.text-justify{class: (p.video_messages? ? "glyphicon-ok" : "reduced-price")}
                  %span.glyphicon
                  Video messages

                = link_to "Purchase", new_product_transaction_path(p, amount: @total), class: "btn btn-rose btn-round"


    .heading-block.text-center.padding-top-50
      %h2 Need a little more?

      %hr/
      %span.margin-top-20.margin-bottom-20 Pick and choose from the extras to add a little more glam to your event
      %ul
        %li Host banners – Please enquire for more details
        %li Personalised booth skins
        %li 50 pounds per extra hour
        %li Large portraits for guest to leave a message and sign
        %li Guest survey with choice of questions
        %li Design of artwork/ theme

= render 'promo'
