
/ ======= HOME MAIN SLIDER =========
= render 'slider'
/ Content
#content
  / Services
  %section.welcome.padding-top-100.padding-bottom-100
    .container
      / HEADING BLOCK
      .heading-block.text-center.margin-bottom-80
        %h3 Welcome To FAMA Photobooths
        %hr/
        %span.margin-top-20 We value moments and we know you do too. Hire a photobooth today for your events and you will thank us later
      / Icon Row
      .text-center.margin-bottom-50
        = image_tag "intro-tabs-1.png", class: "img-responsive"
      .services-welcome.text-center
        %ul.row
          / Services
          %li.col-md-4
            .icon
              %i.ion-ios-speedometer-outline
            %h5.margin-top-40.margin-bottom-20 who we are
            %p
              Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
              my way to where the air is sweet.
          / Services
          %li.col-md-4
            .icon
              %i.ion-ios-color-wand-outline
            %h5.margin-top-40.margin-bottom-20 what we do
            %p
              Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
              my way to where the air is sweet.
          / Services
          %li.col-md-4
            .icon
              %i.ion-ios-infinite-outline
            %h5.margin-top-40.margin-bottom-20 our great team
            %p
              Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
              my way to where the air is sweet.
  / SERVICES
  %section.services.padding-top-100.padding-bottom-80
    .container
      / HEADING BLOCK
      .heading-block.text-center.margin-bottom-80
        %h3 Services What We Provide
        %hr/
        %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
      .services-welcome.text-center
        %ul.row
          / Services
          %li.col-md-4
            %article.z-depth-1
              .icon
                %i.icon-pencil
              %h5.margin-top-30.margin-bottom-10 Web design
              %p
                Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
                my way to where the air is sweet.
              %a.waves-effect.waves-ripple.btn{:href => "#."} read more
          / Services
          %li.col-md-4
            %article.z-depth-1
              .icon
                %i.ion-code
              %h5.margin-top-30.margin-bottom-10 Web development
              %p
                Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
                my way to where the air is sweet.
              %a.waves-effect.waves-ripple.btn{:href => "#."} read more
          / Services
          %li.col-md-4
            %article.z-depth-1
              .icon
                %i.icon-graph
              %h5.margin-top-30.margin-bottom-10 Web analytics
              %p
                Takin' a break from all your worries sure would help a lot. Sunny Days sweepin' the clouds away. On
                my way to where the air is sweet.
              %a.waves-effect.waves-ripple.btn{:href => "#."} read more
  / TEAM MEMBER
  -#%section.explore-tabs.purple-bg.padding-top-100
  -#  .container
  -#    / Nav tabs
  -#    %ul.nav.nav-pills.padding-bottom-50{:role => "tablist"}
  -#      %li.active{:role => "presentation"}
  -#        %a{"data-toggle" => "tab", :href => "#branch", :role => "tab"}
  -#          %i.icon-puzzle
  -#          Elegant Design
  -#          %hr/
  -#      %li{:role => "presentation"}
  -#        %a{"data-toggle" => "tab", :href => "#project", :role => "tab"}
  -#          %i.icon-layers
  -#          different layout
  -#          %hr/
  -#      %li{:role => "presentation"}
  -#        %a{"data-toggle" => "tab", :href => "#news", :role => "tab"}
  -#          %i.icon-diamond
  -#          unique elements
  -#          %hr/
  -#      %li{:role => "presentation"}
  -#        %a{"data-toggle" => "tab", :href => "#contact", :role => "tab"}
  -#          %i.icon-emoticon-smile
  -#          user friendly
  -#          %hr/
  -#  .light-gray-bg.padding-top-100
  -#    .container
  -#      / Tab panes
  -#      .tab-content
  -#        / Branch
  -#        #branch.tab-pane.fade.in.active{:role => "tabpanel"}
  -#          .row
  -#            .col-md-5
  -#              %h4.text-uppercase.margin-bottom-30.letter-space-1.margin-top-20 Elegant Design
  -#              %p That's just a little bit more than the law will allow. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.
  -#              %p These Happy Days are yours and mine Happy Days. Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship. Goodbye gray sky hello blue. There's nothing can hold me when I hold you.
  -#              %a.waves-effect.waves-light.btn.btn-white.margin-top-30.margin-right-20{:href => "#."} contact us
  -#              %a.waves-effect.waves-ripple.btn.margin-top-30.margin-left-20{:href => "#."} purchase now
  -#            .col-md-7
  -#              = image_tag "ipad-large.png"
  -#        / project
  -#        #project.tab-pane.fade{:role => "tabpanel"}
  -#          .row
  -#            .col-md-5
  -#              %h4.text-uppercase.margin-bottom-30.letter-space-1.margin-top-20 Different layout
  -#              %p That's just a little bit more than the law will allow. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.
  -#              %p These Happy Days are yours and mine Happy Days. Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship. Goodbye gray sky hello blue. There's nothing can hold me when I hold you.
  -#              %a.waves-effect.waves-light.btn.btn-white.margin-top-30.margin-right-20{:href => "#."} contact us
  -#              %a.waves-effect.waves-ripple.btn.margin-top-30.margin-left-20{:href => "#."} purchase now
  -#            .col-md-7
  -#              = image_tag "ipad-large.png"
  -#        / news
  -#        #news.tab-pane.fade{:role => "tabpanel"}
  -#          .row
  -#            .col-md-5
  -#              %h4.text-uppercase.margin-bottom-30.letter-space-1.margin-top-20 unique elements
  -#              %p That's just a little bit more than the law will allow. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.
  -#              %p These Happy Days are yours and mine Happy Days. Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship. Goodbye gray sky hello blue. There's nothing can hold me when I hold you.
  -#              %a.waves-effect.waves-light.btn.btn-white.margin-top-30.margin-right-20{:href => "#."} contact us
  -#              %a.waves-effect.waves-ripple.btn.margin-top-30.margin-left-20{:href => "#."} purchase now
  -#            .col-md-7
  -#              = image_tag "ipad-large.png"
  -#        / contact
  -#        #contact.tab-pane.fade{:role => "tabpanel"}
  -#          .row
  -#            .col-md-5
  -#              %h4.text-uppercase.margin-bottom-30.letter-space-1.margin-top-20 user friendly
  -#              %p That's just a little bit more than the law will allow. In 1972 a crack commando unit was sent to prison by a military court for a crime they didn't commit.
  -#              %p These Happy Days are yours and mine Happy Days. Just sit right back and you'll hear a tale a tale of a fateful trip that started from this tropic port aboard this tiny ship. Goodbye gray sky hello blue. There's nothing can hold me when I hold you.
  -#              %a.waves-effect.waves-light.btn.btn-white.margin-top-30.margin-right-20{:href => "#."} contact us
  -#              %a.waves-effect.waves-ripple.btn.margin-top-30.margin-left-20{:href => "#."} purchase now
  -#            .col-md-7
  -#              = image_tag "ipad-large.png"
  / PROMO
  -#%section.promo.text-center.padding-bottom-100.padding-top-100{:style => "background:url(images/bg/promo-bg.jpg) no-repeat;"}
  -#  .container
  -#    %h6 We have used latest Technology
  -#    %h3 True Material Design For Your Business
      -#%a.waves-effect.waves-light.btn.btn-white.margin-right-20{:href => "#."} purchase now
      -#%a.waves-effect.waves-ripple.btn.margin-left-20{:href => "#."} purchase now
  / PROMO
  %section.promo.pink-bg.padding-bottom-60.padding-top-60
    .container
      .row
        .col-md-7
          %h3.text-white.text-uppercase.no-margin Do you want to   discuss wth us?
        .col-md-5.text-right
          %a.waves-effect.waves-light.btn.btn-white.margin-right-20{:href => "#."} contact us
          %a.waves-effect.btn.btn-blue.margin-left-20{:href => "#."} purchase now
  / TESTIMONIALS
  %section.padding-bottom-100.padding-top-100
    .container
      / HEADING BLOCK
      .heading-block.text-center.margin-bottom-80
        %h3 Our Work Process
        %hr/
        %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
      .work-process
        %ul.icon-follow
          %li
            .icon
              %i.icon-bulb
            %h6.text-uppercase Ideas
          %li
            .icon
              %i.icon-puzzle
            %h6.text-uppercase plans
          %li
            .icon
              %i.icon-pencil
            %h6.text-uppercase Design
          %li
            .icon
              %i.icon-layers
            %h6.text-uppercase development
          %li
            .icon
              %i.icon-rocket
            %h6.text-uppercase launch
        %p.into-type And they're always glad you came. And you know where you were then. Girls were girls and men were men. Mister we could use a man like Herbert Hoover again. They call him Flipper Flipper faster than lightning.
        -#.text-center.margin-top-30
        -#  = image_tag "iphone-landscape.png", class: "img-responsive"
  / TESTIMONIALS
  %section.testimonial.style-2.light-gray-bg
    .container
      .row
        .col-md-4
          .pink-bg.padding-left-40.padding-right-40.padding-top-80.padding-bottom-80
            %h6.text-uppercase.text-white.letter-space-2.margin-bottom-40.font-16px.font-normal We love our clients
            %p.text-white.line-height-28 The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch. Come and listen to a story about a man named Jed mountaineer barely kept his family fed. Just sit right back and you'll.
            %a.waves-effect.waves-light.btn.btn-white.margin-right-20.margin-top-50{:href => "#."} get a quote
        / Slider
        .col-md-8
          .single-slides
            / Slider item
            .item
              .avatar
                = image_tag "avatar.jpg"
              .stars
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %p
                Friendly neighbors there that's where we meet. Can you tell me how to get how to get to Sesame Street! Here's the story of a lovely lady who was bringing up three very lovely girls. Said Californ'y is the place you ought to be
                So they loaded up the truck and moved to Beverly. Hills that is stars.
              %h6 Micheal Anderson
            / Slider item
            .item
              .avatar
                = image_tag "avatar.jpg"
              .stars
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %p
                Friendly neighbors there that's where we meet. Can you tell me how to get how to get to Sesame Street! Here's the story of a lovely lady who was bringing up three very lovely girls. Said Californ'y is the place you ought to be
                So they loaded up the truck and moved to Beverly. Hills that is stars.
              %h6 Micheal Anderson
            / Slider item
            .item
              .avatar
                = image_tag "avatar.jpg"
              .stars
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
                %i.fa.fa-star
              %p
                Friendly neighbors there that's where we meet. Can you tell me how to get how to get to Sesame Street! Here's the story of a lovely lady who was bringing up three very lovely girls. Said Californ'y is the place you ought to be
                So they loaded up the truck and moved to Beverly. Hills that is stars.
              %h6 Micheal Anderson
  -#%section.padding-top-100.padding-bottom-100
  -#  .container
  -#    / HEADING BLOCK
  -#    .heading-block.text-center.margin-bottom-80
  -#      %h3 Our Expert Team Members
  -#      %hr/
  -#      %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
  -#  / Team
  -#  .expert-team
  -#    .container
  -#      %ul.row
  -#        / TEAM MEMBER
  -#        %li.col-md-3
  -#          %article.z-depth-1.padding-30
  -#            .img-circle
  -#              = image_tag "team-img-1.jpg"
  -#              %h5 James Hopper
  -#              %span Lead Developer
  -#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
  -#              %ul.social-icons
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-facebook
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-twitter
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-google
  -#        / TEAM MEMBER
  -#        %li.col-md-3
  -#          %article.z-depth-1.padding-30
  -#            .img-circle
  -#              = image_tag "team-img-1.jpg"
  -#              %h5 martin guptil
  -#              %span web Developer
  -#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
  -#              %ul.social-icons
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-facebook
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-twitter
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-google
  -#        / TEAM MEMBER
  -#        %li.col-md-3
  -#          %article.z-depth-1.padding-30
  -#            .img-circle
  -#              = image_tag "team-img-1.jpg"
  -#              %h5 andrew hilson
  -#              %span Designer
  -#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
  -#              %ul.social-icons
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-facebook
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-twitter
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-google
  -#        / TEAM MEMBER
  -#        %li.col-md-3
  -#          %article.z-depth-1.padding-30
  -#            .img-circle
  -#              = image_tag "team-img-1.jpg"
  -#              %h5 robert jakis
  -#              %span Marketing
  -#              %p We finally got a piece of the pie. Makin' your way in the world today week long.
  -#              %ul.social-icons
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-facebook
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-twitter
  -#                %li
  -#                  %a{:href => "#."}
  -#                    %i.fa.fa-google
  -#%section.welcome.padding-top-100.padding-bottom-100{:style => "background:url(/bg/bg-1.jpg) no-repeat; background-size:cover;"}
  -#  .container
  -#    / Icon Row
  -#    .row
  -#      .col-md-7
  -#        %ul.row.margin-top-50
  -#          / Services
  -#          %li.col-md-6.margin-bottom-50
  -#            .media
  -#              .media-left
  -#                .icon
  -#                  %i.icon-rocket
  -#              .media-body
  -#                %h5 multipurpose
  -#                %p Takin' a break from all your wo ries sure would help a lot.
  -#          / Services
  -#          %li.col-md-6.margin-bottom-50
  -#            .media
  -#              .media-left
  -#                .icon
  -#                  %i.icon-screen-smartphone
  -#              .media-body
  -#                %h5 responsive
  -#                %p Takin' a break from all your wo ries sure would help a lot.
  -#          / Services
  -#          %li.col-md-6
  -#            .media
  -#              .media-left
  -#                .icon
  -#                  %i.icon-layers
  -#              .media-body
  -#                %h5 business layout
  -#                %p Takin' a break from all your wo ries sure would help a lot.
  -#          %li.col-md-6
  -#            .media
  -#              .media-left
  -#                .icon
  -#                  %i.icon-support
  -#              .media-body
  -#                %h5 full support
  -#                %p Takin' a break from all your wo ries sure would help a lot.
  -#        %a.waves-effect.waves-light.btn.btn-white.margin-top-50.margin-right-20{:href => "#."} CONTACT US
  -#        %a.waves-effect.waves-ripple.margin-top-50.btn.margin-left-20{:href => "#."} purchase now
  %section.padding-top-100.padding-bottom-100
    .container
      / HEADING BLOCK
      .heading-block.text-center.margin-bottom-80
        %h3 Choose Your Pricing
        %hr/
        %span.margin-top-20 The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow always wanted to have a neighbor just like you. I've always wanted to live in a neighborhood with you.
      / PLAN
      .price-plan
        %ul.row
          / PLAN 1
          %li.col-md-4
            %article.z-depth-1.padding-bottom-40
              .head-price
                %h4 basic
                .price.z-depth-1 $50
              %ul
                %li 3 Web Design
                %li 5 Web Development
                %li Free Hosting
                %li SEO Optimization
                %li 24/7 Support
                %li WP Customization
                %li Free Membership
              %a.waves-effect.waves-light.btn.btn-white{:href => "#."} read more
          / PLAN 2
          %li.col-md-4
            %article.z-depth-1.padding-bottom-40
              .head-price
                %h4 standard
                .price.z-depth-1 $100
              %ul
                %li 3 Web Design
                %li 5 Web Development
                %li Free Hosting
                %li SEO Optimization
                %li 24/7 Support
                %li WP Customization
                %li Free Membership
              %a.waves-effect.waves-light.btn.btn-white{:href => "#."} read more
          / PLAN 3
          %li.col-md-4
            %article.z-depth-1.padding-bottom-40
              .head-price
                %h4 business
                .price.z-depth-1 $150
              %ul
                %li 3 Web Design
                %li 5 Web Development
                %li Free Hosting
                %li SEO Optimization
                %li 24/7 Support
                %li WP Customization
                %li Free Membership
              %a.waves-effect.waves-light.btn.btn-white{:href => "#."} read more
          / PLAN 4
          -#%li.col-md-3
          -#  %article.z-depth-1.padding-bottom-40
          -#    .head-price
          -#      %h4 unlimited
          -#      .price.z-depth-1 $250
          -#    %ul
          -#      %li 3 Web Design
          -#      %li 5 Web Development
          -#      %li Free Hosting
          -#      %li SEO Optimization
          -#      %li 24/7 Support
          -#      %li WP Customization
          -#      %li Free Membership
          -#    %a.waves-effect.waves-light.btn.btn-white{:href => "#."} read more
/ End Content

/ End Page Wrapper
/ SLIDER REVOLUTION 4.x SCRIPTS
