= provide(:description, 'FamaPhotobooths offers affordable photobooths that enhance any occasion by capturing valuable memories that you will smile about for years to come.')
= provide(:keywords, 'Home, photobooths, events, photobooth, affordable, occasion')
/ ======= HOME MAIN SLIDER =========
= render 'slider'
/ Content
#content
  = render 'services'
  -#= render 'work_process'
  = render 'testimonials'

