
/ ======= HOME MAIN SLIDER =========
= render 'slider'
/ Content
#content
  = render 'services'
  = render 'packages'
  = render 'promo'
  -#= render 'work_process'
  -#= render 'testimonials'
  = render 'contact'

