.contact#contact.style-3.padding-top-10.padding-bottom-80
  .container
    .heading-block.text-center.margin-bottom-20
      %h3
        All Galleries
      %hr/

    - if admin_user_signed_in?
      .col-md-12.center-align.padding-bottom-50
        .btn.btn-pink.center
          = link_to "Create a new Gallery", new_gallery_path

.col-md-12.padding-top-20.padding-bottom-80{style: "background-color: #383838;"}
  .container
    .row
      .card-deck
        - @galleries.each do |gallery|
          .col-md-4.col-sm-6.col-xs-12
            .card
              .card-img-top
                = link_to gallery_path(gallery) do
                  - if gallery.cover_photo?
                    = image_tag(gallery.cover_photo.url(:thumb))
                    -#= image_tag gallery.cover_photo, class: ""
                  - else
                    = image_tag "logo.png"

              .card-body
                %h5.card-title #{gallery.title}
                %hr
                .card-action
                  = link_to "View Gallery", gallery_path(gallery)
                  - if admin_user_signed_in?
                    .card-action
                    = link_to "Delete Gallery", gallery_path(gallery), method: :delete, data: {confirm: "Are you sure? You will also delete all the images within this gallery. This action cannot be undone"}
