.contact#contact.style-3.padding-top-10.padding-bottom-80
  .container
    .heading-block.text-center.margin-bottom-20
      %h3
        All Galleries
      %hr/

    - if admin_user_signed_in?
      .col-md-12.center-align.padding-bottom-50
        .btn.btn-pink.center
          = link_to "Create a new Gallery", new_gallery_path

.col-md-12.padding-top-20.padding-bottom-80{style: "background-color: #383838;"}
  .container
    .row
      - @galleries.each do |gallery|
        .col-sm-4.col-xs-12
          .col.s12
            .card
              .card-image
                = link_to gallery_path(gallery) do
                  = image_tag gallery.cover_photo, class: "thumbnail"
              .card-content
                %p
                  = gallery.title
              .card-action
                = link_to "View Gallery", gallery_path(gallery)
              - if admin_user_signed_in?
                .card-action
                  = link_to "Delete Gallery", gallery_path(gallery), method: :delete, data: {confirm: "Are you sure? You will also delete all the images within this gallery. This action cannot be undone"}