!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FAMA
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
  / LOADER
  -##loader
  -#  .loader
  -#    .position-center-center
  -#      = image_tag "logo.png"
  -#      .progress
  -#        .indeterminate
  / Page Wrapper
  #wrap
    / Top bar
    .top-bar
      .container
        .col-md-6
          %ul.row
            %li.margin-right-20
              %p
                %i.fa.fa-envelope-o.margin-right-10>
                enquiries@famaphotobooths.com
            %li.margin-right-20
              %p
                %i.fa.fa-phone.margin-right-10
                  +447500946019
        / Social Icon
        .col-md-6.text-right.social-top
          / Social Icon
          %ul.social-icons
            %li
              %a{:href => "#."}
                %i.fa.fa-facebook
            %li
              %a{:href => "#."}
                %i.fa.fa-twitter
            %li
              %a{:href => "#."}
                %i.fa.fa-google
            %li
              %a{:href => "#."}
                %i.fa.fa-linkedin
            %li
              %a{:href => "#."}
                %i.fa.fa-dribbble
    / Header
    %header.header.coporate-header
      .sticky
        .container
          .col-md-3
            = image_tag "logo.png", class: 'logo'
          / Nav
          .col-md-7
            %nav
              %ul#ownmenu.ownmenu
                %li
                  = link_to "HOME", root_path
                %li
                  %a{:href => "#about"} About
                %li
                  %a{:href => "#services"} services
                %li
                  %a{:href => "#contact"} Contact us
          .col-md-2
            %a.waves-effect.waves-ripple.any-help.z-depth-1{:href => "#contact"} Contact
    / End Header

    - flash.each do |key, value|
      %div{:id => "card-alert", :class => "card #{key}"}
        .card-content.white-text
          = value
          %button.close.white-text{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
            %span.white-text{"aria-hidden" => "true", :onclick => "this.parentElement.parentElement.style.display='none';"} ×

    = yield

/ Footer
%footer
  .container
    .row
      / About
      .col-md-4
        %p We would like to keep you in the loop as much as we can. You can follow us below:
        / Social Icon
        %ul.social-icons
          %li
            %a{:href => "#."}
              %i.fa.fa-facebook
          %li
            %a{:href => "#."}
              %i.fa.fa-twitter
          %li
            %a{:href => "#."}
              %i.fa.fa-google
          %li
            %a{:href => "#."}
              %i.fa.fa-linkedin
          %li
            %a{:href => "#."}
              %i.fa.fa-dribbble
      -#/ Our Services
      -#.col-md-4
      -#  %h5 Our Services
      -#  %ul.links
      -#    %li
      -#      %a{:href => "#."} Wed Design
      -#    %li
      -#      %a{:href => "#."} Wed Development
      -#    %li
      -#      %a{:href => "#."} SEO Optimization
      -#/ useful links
      -#.col-md-4
      -#  %h5 useful links
      -#  %ul.links
      -#    %li
      -#      %a{:href => "#."} About us
      -#    %li
      -#      %a{:href => "#."} Why Choose Us
      -#    %li
      -#      %a{:href => "#."} Our Services

    -#/ Links
    -#%ul.bottom-links
    -#  %li
    -#    %a{:href => "#."} Home
    -#  %li
    -#    %a{:href => "#."} about us
    -#  %li
    -#    %a{:href => "#."} services
    / Rights
    .rights
      %p © 2017 Famabooths
/ End Footer
:javascript
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 900, 'swing');
    });
  });
